
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background-image: url("./img/bgindex.jpg");
}

header {
    background-color: #333;
    color: #fff;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

nav ul li {
    
    margin: 0 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px); /* header to footer height */
    text-align: center;
    padding: 20px;
  
}

.quote {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.quote p {
    margin: 0;
    font-size: 1.2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 31px;
    padding: 10px;

}
.quote h1{
    color: rgb(126, 16, 57);
}